[tool.poetry]
name = "pathlibs3"
version = "0.1.0"
description = "S3 navigation using object, inspired by pathlib.Path"
authors = ["thibault.blanc"]

[tool.poetry.dependencies]
python = "^3.10"
boto3 = "^1.34.84"
urllib3 = "^2.2.1"
moto = "^5.0.5"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
